<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header (always visible elements) --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="header-fields">
      <h1 class="charname"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <h1 class="charname"><input type="text" name="system.kith" value="{{system.kith}}" placeholder="Kith" /></h1>
        </div>

        <div class="resource flex-group-center">
          <h1 class="charname"><input type="text" name="system.kin" value="{{system.kin}}" placeholder="Kin" /></h1>
        </div>
      </div>

      {{!-- Attributes --}}
      <div class="resources grid grid-4col">

        <div class="resource flex-group-center">
          <label for="system.swords" class="resource-label">Swords</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.swords" value="{{system.swords}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.pentacles" class="resource-label">Pentacles</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.pentacles" value="{{system.pentacles}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.cups" class="resource-label">Cups</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.cups" value="{{system.cups}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.wands" class="resource-label">Wands</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.wands" value="{{system.wands}}" data-dtype="Number" />
          </div>
        </div>

      </div>

      {{!-- Light --}}
      <div class="resources grid grid-4col">

        <div class="resource flex-group-center">
          <label for="system.supplyresources.light" class="resource-label">Light</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="checkbox" name="system.supplyresources.light.notched" value="{{system.supplyresources.light.notched}}" data-dtype="Boolean" />
            <input type="number" name="system.supplyresources.light.flickers" value="{{system.supplyresources.light.flickers}}" data-dtype="Number" />
          </div>
        </div>
      
      </div>

      {{!-- Status --}}
      <div class="resource-content flexrow flex-center flex-between">

        {{!-- Wounds - TODO figure out checkboxes --}}
        <div class="resources grid grid-4col">

          <div class="resource flex-group-center">
            <label for="system.status.stressed" class="resource-label">Stressed</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="checkbox" name="system.status.stressed" value="{{system.status.stressed}}" data-dtype="Boolean" />
            </div>
          </div>

          <div class="resource flex-group-center">
            <label for="system.status.staggered" class="resource-label">Staggered</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="checkbox" name="system.status.staggered" value="{{system.status.staggered}}" data-dtype="Boolean" />
            </div>
          </div>

          <div class="resource flex-group-center">
            <label for="system.status.injured" class="resource-label">Injured</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="checkbox" name="system.status.injured" value="{{system.status.injured}}" data-dtype="Boolean" />
            </div>
          </div>

          <div class="resource flex-group-center">
            <label for="system.status.deathsdoor" class="resource-label">Death's Door</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="checkbox" name="system.status.deathsdoor" value="{{system.status.deathsdoor}}" data-dtype="Boolean" />
            </div>
          </div>

        </div>

        {{!-- Resolve/Lore - TODO figure out if these should be multi-checkboxes --}}
        <div class="resources grid grid-2col">
        
          <div class="resource flex-group-center">
            <label for="system.status.resolve" class="resource-label">Resolve</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="system.status.resolve" value="{{system.status.resolve}}" data-dtype="Number" />
            </div>
          </div>
        
          <div class="resource flex-group-center">
            <label for="system.status.lore" class="resource-label">Lore</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="system.status.lore" value="{{system.status.lore}}" data-dtype="Number" />
            </div>
          </div>
        
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation - reference template https://github.com/asacolips-projects/boilerplate/blob/main/templates/actor/actor-character-sheet.hbs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="biography">Biography</a>
    <a class="item" data-tab="talents">Talents</a>
    <a class="item" data-tab="pack">Pack</a>
    {{!-- <a class="item" data-tab="spells">Spells</a> --}}
    {{!-- <a class="item" data-tab="effects">Effects</a> --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{> "systems/hmtw-foundry/templates/actor/parts/actor-bio.hbs"}}
    </div>

    {{!-- Talents Tab --}}
    <div class="tab talents" data-group="primary" data-tab="talents">
      {{> "systems/hmtw-foundry/templates/actor/parts/actor-talents.hbs"}}
    </div>

    {{!-- Pack Tab --}}
    <div class="tab pack" data-group="primary" data-tab="pack">
      {{> "systems/hmtw-foundry/templates/actor/parts/actor-pack.hbs"}}
    </div>

    {{!-- Spells Tab --}}
    {{!-- <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/hmtw-foundry/templates/actor/parts/actor-spells.hbs"}}
    </div> --}}

    {{!-- Active Effects Tab --}}
    {{!-- <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/hmtw-foundry/templates/actor/parts/actor-effects.hbs"}}
    </div> --}}

  </section>
</form>
