<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header (always visible elements) --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="header-fields">
      <h1 class="charname"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"/></h1>

      {{!-- TODO I'm using grid wrong, the Ncol determines the number of columns in each child, not the number of children --}}
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <h1 class="charname"><input type="text" name="kith" value="{{actor.kith}}" placeholder="Kith" /></h1>
        </div>

        <div class="resource flex-group-center">
          <h1 class="charname"><input type="text" name="kin" value="{{actor.kin}}" placeholder="Kin" /></h1>
        </div>
      </div>

      {{!-- Attributes --}}
      <div class="resources grid grid-4col">

        <div class="resource flex-group-center">
          <label for="system.swords.value" class="resource-label">Swords</label>
          <input type="text" name="system.swords.value" value="{{system.swords.value}}" data-dtype="Number"/>
        </div>

        <div class="resource flex-group-center">
          <label for="system.pentacles.value" class="resource-label">Pentacles</label>
          <input type="text" name="system.pentacles.value" value="{{system.pentacles.value}}" data-dtype="Number" />
        </div>

        <div class="resource flex-group-center">
          <label for="system.cups.value" class="resource-label">Cups</label>
          <input type="text" name="system.cups.value" value="{{system.cups.value}}" data-dtype="Number" />
        </div>

        <div class="resource flex-group-center">
          <label for="system.wands.value" class="resource-label">Wands</label>
          <input type="text" name="system.wands.value" value="{{system.wands.value}}" data-dtype="Number" />
        </div>

      </div>

      {{!-- Light - TODO --}}
      <div class="resources grid grid-4col">
      
      </div>

      {{!-- Belt - TODO move out of header --}}
      <div class="resources grid grid-4col">

        <div class="resource flex-group-center">
          <label for="system.belt1.value" class="resource-label">I</label>
          <input type="text" name="system.belt1.value" value="{{system.belt1.value}}" placeholder="" />
        </div>

        <div class="resource flex-group-center">
          <label for="system.belt2.value" class="resource-label">II</label>
          <input type="text" name="system.belt2.value" value="{{system.belt2.value}}" placeholder="" />
        </div>

        <div class="resource flex-group-center">
          <label for="system.belt3.value" class="resource-label">III</label>
          <input type="text" name="system.belt3.value" value="{{system.belt3.value}}" placeholder="" />
        </div>

        <div class="resource flex-group-center">
          <label for="system.belt4.value" class="resource-label">IV</label>
          <input type="text" name="system.belt4.value" value="{{system.belt4.value}}" placeholder="" />
        </div>

      </div>

      {{!-- Status --}}
      <div class="resource-content flexrow flex-center flex-between">

        {{!-- Wounds - TODO figure out checkboxes --}}
        <div class="resources grid grid-4col">

          <div class="resource flex-group-center">
            <label for="system.stressed.value" class="resource-label">Stressed</label>
            <input type="text" name="system.stressed.value" value="{{system.stressed.value}}" data-dtype="Boolean" />
          </div>

          <div class="resource flex-group-center">
            <label for="system.staggered.value" class="resource-label">Staggered</label>
            <input type="checkbox" name="system.staggered.value" value="{{system.staggered.value}}" data-dtype="Boolean" />
          </div>

          <div class="resource flex-group-center">
            <label for="system.injured.value" class="resource-label">Injured</label>
            <input type="checkbox" name="system.injured.value" value="{{system.injured.value}}" data-dtype="Boolean" />
          </div>

          <div class="resource flex-group-center">
            <label for="system.deathsDoor.value" class="resource-label">Death's Door</label>
            <input type="checkbox" name="system.deathsdoor.value" value="{{system.deathsdoor.value}}" data-dtype="Boolean" />
          </div>

        </div>

        {{!-- Resolve/Lore - TODO figure out multi-checkboxes --}}
        <div class="resources grid grid-2col">
        
          <div class="resource flex-group-center">
            <label for="system.resolve.value" class="resource-label">Resolve</label>
            <input type="checkbox" name="system.resolve.value" value="{{system.resolve.value}}" data-dtype="Boolean" />
          </div>
        
          <div class="resource flex-group-center">
            <label for="system.lore.value" class="resource-label">Lore</label>
            <input type="checkbox" name="system.lore.value" value="{{system.lore.value}}" data-dtype="Boolean" />
          </div>
        
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation - reference template https://github.com/asacolips-projects/boilerplate/blob/main/templates/actor/actor-character-sheet.hbs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="biography">Biography</a>
    <a class="item" data-tab="character-resources">Character Resources</a>
    <a class="item" data-tab="supply-resources">Supply Resources</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
    </div>

    {{!-- Character Resources Tab --}}
    <div class="tab character-resources" data-group="primary" data-tab="character-resources">
    </div>

    {{!-- Supply Resources Tab --}}
    <div class="tab supply-resources" data-group="primary" data-tab="supply-resources">
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/hmtw-foundry/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
