<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'>
        <input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        />
      </h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>Bond Type</label>
          <input type='text' name='system.type' value='{{system.type}}' placeholder="Ally" />
        </div>
        <div class='resource'>
          <label class='resource-label'>Charged:</label>
          <input type='checkbox' name='system.charged' {{isChecked system.charged}} />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Editors must receive enriched text data from getData to properly handle rolls }}
    {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
    }}
  </section>
</form>