<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'>
        <input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        />
      </h1>
      <div class="flexrow">
        <div class='grid grid-3col'>
          <div class='resource'>
            <label class='resource-label'>Slots:</label>
            <input type='number' name='system.slots' value="{{system.slots}}" data-dtype="Number" />
          </div>
          <div class='resource'>
            <label class='resource-label'>Quantity:</label>
            <input type='number' name='system.quantity' value="{{system.quantity}}" data-dtype="Number" />
          </div>
          <div class='resource'>
            <label class='resource-label'>Oversized:</label>
            <input type='checkbox' name='system.oversized' {{isChecked system.oversized}} />
          </div>
        </div>
      </div>
      <div class="flexrow">
        <label class='resource-label'>Notches:</label>
        <div class='grid grid-3col'>
          <div class='resource'>
            <input type='number' name='system.notches' value="{{system.notches}}" data-dtype="Number" />
          </div>
          <span> / </span>
          <div class='resource'>
            <input type='number' name='system.maxnotches' value="{{system.maxnotches}}" data-dtype="Number" />
          </div>
        </div>
      </div>
      <div class="flexrow">
        <div class='resource'>
          <label class='resource-label' for='location'>Location:</label>
          <select name="system.location" data-type="String">
            {{selectOptions locationOptions selected=system.location}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Body }}
  <section class='sheet-body'>
    {{
      editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
    }}
  </section>
</form>